.range-container {
  width: 80%;
  height: 100px;
  border-radius: 8rem;
  background: linear-gradient(to right, #05b3e7, #eb0f07); /* Cambia los colores según tu preferencia y ajusta la dirección */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
